@model TN.ViewModels.Catalog.Question.QuestionModel
<form>
    <div class="text-danger">@(ViewData["msg"]==null?"":ViewData["msg"])</div>
    <div class="form-group">
        <label asp-for="QuesContent" class="control-label">Nội dung câu hỏi</label>
        <input asp-for="QuesContent" class="form-control" />
        <span asp-validation-for="QuesContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option1" class="control-label">A</label>
        <input asp-for="Option1" class="form-control" />
        <span asp-validation-for="Option1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option2" class="control-label">B</label>
        <input asp-for="Option2" class="form-control" />
        <span asp-validation-for="Option2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option3" class="control-label">C</label>
        <input asp-for="Option3" class="form-control" />
        <span asp-validation-for="Option3" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option4" class="control-label">D</label>
        <input asp-for="Option4" class="form-control" />
        <span asp-validation-for="Option4" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer" class="control-label">Đáp án</label>
        <select asp-for="Answer" class="form-control">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <div class="form-group">
        <input type="hidden" value="@Model.ExamID" asp-for="ExamID" class="form-control" />
    </div>
    <div class="form-group">
        <input id="btnSave" type="button" value="Thêm" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-dark" />
    </div>
</form>