@using Microsoft.AspNetCore.Identity
@inject SignInManager<TN.Data.Entities.AppUser> SignInManager
@inject UserManager<TN.Data.Entities.AppUser> UserManager

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h5>Hello @User.Identity.Name</h5>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
