
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordConfirmOnPost</title>
</head>
<body>
    <h1>Password changed successfully</h1>
    <button type="button" asp-area="" asp-controller="Auth" asp-action="Login">Click to login</button>
</body>
</html>
