@model TN.ViewModels.Catalog.Exam.ExamOptions
@if (Model.NoCountDown)
{
    <div class="row">
        <h5 class="ml-lg-auto mr-lg-auto">You will have unlimited time to finish this exam.</h5>
    </div>
}
else
{
    <div class="row">
        <h5 class="ml-lg-auto mr-lg-auto">You will have @(Model.Minute) minute(s)<span>@(Model.Second!=0?Model.Second+" second(s)":string.Empty)</span> once you begin your attemp.</h5>
    </div>
}

<div class="row">
    <h5 class="ml-lg-auto mr-lg-auto">Number of questions: @(Model.CountQuestion)</h5>
</div>
<div class="row">
    <h5 class="ml-lg-auto mr-lg-auto">Good luck!</h5>
</div>
<hr />
<form asp-action="OnPostQuizOptions" asp-controller="Exams" asp-area="User" method="post">
    <div class="form-group row">
        <label for="countdown" class="ml-lg-auto mr-lg-auto d-inline control-label">
            No countdown <input asp-for="NoCountDown" type="checkbox" class="d-inline" />
        </label>
    </div>
    <div class="row">
        <span class="ml-lg-auto mr-lg-auto text-danger">Check to disable time countdown</span>
    </div>
    <div class="form-group row">
        <input type="hidden" asp-for="CountQuestion" class="form-control" />
        <input type="hidden" asp-for="Minute" class="form-control" />
        <input type="hidden" asp-for="Second" class="form-control" />
        <input type="hidden" value="@Model.ExamId" asp-for="ExamId" class="form-control" />
    </div>
    <div class="row form-group">
        <input id="btnDoQuiz" type="submit" value="Attemp quiz now" class="mr-lg-auto ml-lg-auto btn btn-primary" />
    </div>
</form>